body {
    background-color: lightcyan;

}

.result {
    margin-left: 100px;
    text-decoration-color: blue;

}

.crystals {
    display: flex;
    justify-content: space-around;
    align-items: center;

    /* border: 1px solid blueviolet;*/
    margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 150px;
    margin-left: 80px;
    /*background-color: lightblue;*/
}

.crystal {
    border: 1px solid lightseagreen;
    height: 100px;
    width: 100px;
    border-radius: 4px;
    box-shadow: 5px 5px 5px rgba(red, green, blue, purple);
    transition: box-shadow 1s;
}

.crystal:hover {
    box-shadow: 15px 15px 15px rgba(0, 0, 0, 0.5);
    cursor: pointer;
    transition: box-shadow 1s, transform 2s;
    transform: translate(5px, 5px);
}

.card {
    margin-left: 100px, 0px, 0px, 0px;

}